asgiref==3.3.4
autopep8==1.5.7
bidict==0.21.2
Django==3.2.4
dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.25.2
greenlet==1.1.0
monotonic==1.5
pycodestyle==2.7.0
python-engineio==4.2.0
python-socketio==5.3.0
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
